@{
    ViewBag.Title = "MasterUs";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <link href="~/Content/css" rel="stylesheet" />
    <script src="~/bundles/modernizr"></script>
    <link href="~/css/MasterUs.css" rel="stylesheet" />
    <link href="~/css/HeaderUs.css" rel="stylesheet" />
    <link href="~/js/MasterUs.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css" integrity="sha512-C8Movfk6DU/H5PzarG0+Dv9MA9IZzvmQpO/3cIlGIflmtY3vIud07myMu4M/NTPJl8jmZtt/4mC9bAioMZBBdA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container-fluid w-100 p-0" style="height: 80px; position:relative;z-index:2;">
        <div class="row bg-dark">
            <div id="HD_L" class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 justify-content-center align-items-center p-0" style="height: 80px;">
                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <img class="logo" src="~/Pictures/IconGames/Icon 2.png" alt="Logo" />
                </a>
                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                    <div class="offcanvas-header">
                        <a href="#">
                            <img class="HD_MINI" src="~/Pictures/IconGames/Icon 1.png" alt="Mini Logo" />
                        </a>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="row">
                            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 text-start">
                                <div class="row">
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 p-0">
                                        <div class="HD_TIEUDE">
                                            <p>TRÒ CHƠI</p>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                            <a class="HD_MN menu-item" id="lien-minh" data-image="image1" href="#">
                                                <span>LIÊN MINH HUYỀN THOẠI</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                            <a class="HD_MN menu-item" id="dau-truong" data-image="image2" href="#">
                                                <span>ĐẤU TRƯỜNG CHÂN LÝ</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                            <a class="HD_MN menu-item" id="valo" data-image="Icon 15" href="#">
                                                <span>VALORANT</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 w-100 p-1 HDD">
                                            <a class="HD_MN menu-item" id="rune-terra" data-image="Icon 16" href="#">
                                                <span>HUYỀN THOẠI RUNETERRA</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 w-100 p-1 HD_C">
                                            <a class="HD_MN menu-item" id="toc-chien" data-image="Icon 17" href="#">
                                                <span>LMHT: TỐC CHIẾN</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                        <div class="HD_TIEUDE">
                                            <p>FORGE</p>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                            <a class="HD_MN menu-item" id="ruined-king" data-image="Icon 18" href="#">
                                                <span>RUINED KING</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                            <a class="HD_MN menu-item" id="convergence" data-image="Icon 19" href="#">
                                                <span>CONV/RGENCE</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                            <a class="HD_MN menu-item" id="song-of-nunu" data-image="Icon 20" href="#">
                                                <span>SONG OF NUNU</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                            <a class="HD_MN menu-item" id="riot-forge" data-image="Icon 21" href="#">
                                                <span>TRÒ CHƠI CỦA RIOT FORGE</span>
                                            </a>
                                        </div>
                                        <div class="HD_TIEUDE">
                                            <p>ESPORTS</p>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 mt-1 HD_C">
                                            <a class="HD_MN menu-item" id="lol-esports" data-image="Icon 22" href="#">
                                                <span>LOL ESPORTS</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                            <a class="HD_MN menu-item" id="valorant-esports" data-image="Icon 23" href="#">
                                                <span>VALORANT ESPORTS</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                        <div class="HD_TIEUDE">
                                            <p>GIẢI TRÍ</p>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                            <a class="HD_MN menu-item" id="arcane" data-image="Icon 24" href="#">
                                                <span>ARCANE</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                            <a class="HD_MN menu-item" id="universe" data-image="Icon 25" href="#">
                                                <span>VŨ TRỤ</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                            <a class="HD_MN menu-item" id="riot-music" data-image="Icon 26" href="#">
                                                <span>RIOT GAMES MUSIC</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 HD_TIEUDE">
                                            <p>KINH DOANH</p>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                            <a class="HD_MN menu-item" id="riot-games" data-image="Icon 27" href="#">
                                                <span>RIOT GAMES</span>
                                            </a>
                                        </div>
                                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                            <a class="HD_MN menu-item" id="riot-support" data-image="Icon 28" href="#">
                                                <span>HỖ TRỢ RIOT</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="row">
                                    <div class="col-xxl-12">
                                        <a class="HD_HI" href="#">
                                            <img class="img-fluid" id="main-image" src="~/Pictures/IconGames/Icon 13.jpeg" alt="Alternate Text" />
                                            <p class="p-1" id="main-text">Huyền Thoại Runeterra - Bản Mở Rộng Mới - Con Đường Nguyện Ước</p>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-9 col-7">
                <nav class="navbar navbar-expand-xxl navbar-dark p-0">
                    <div class="container-fluid HD_T p-0">
                        <a class="navbar-brand d-flex justify-content-center align-items-center" style="height: 80px;" href="@Url.Action("Index", "User")">
                            <img src="~/Pictures/IconGames/Icon 7.png" alt="Navbar Logo" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-start">
                                <li class="nav-item TT">
                                    <a class="nav-link active NTT" aria-current="page"
                                       href="@Url.Action("TroChoi", "User")">TRÒ CHƠI</a>
                                </li>
                                <li class="nav-item TT">
                                    <a class="nav-link NTT" href="@Url.Action("Champion", "User")">TƯỚNG</a>
                                </li>
                                <li class="nav-item TT">
                                    <a class="nav-link NTT" href="@Url.Action("News", "User")">TIN TỨC</a>
                                </li>
                                <li class="nav-item TT">
                                    <a class="nav-link NTT" href="@Url.Action("Update", "User")">CHI TIẾT CẬP NHẬT</a>
                                </li>
                                <li class="nav-item TT">
                                    <a class="nav-link NTT" href="@Url.Action("Esport", "User")">ESPORTS</a>
                                </li>
                            </ul>
                            <form class="d-flex justify-content-end">
                                <div class="Biu">
                                    <div class="row justify-content-end align-items-center m-0">
                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 p-0 d-flex justify-content-center align-items-center" style="width: 150px;">
                                            <div class="DC2"><a href="@Url.Action("ChoiNgayUs", "User")">Chơi Ngay</a></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <script src="~/js/MasterUs.js"></script>
    </div>

@RenderBody()
@{
   await Html.RenderPartialAsync("~/Views/UserShared/FooterUs.cshtml");
}
    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/bootstrap"></script>
    @RenderSection("scripts", required: false)
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/dist/js/waves.js"></script>
    <script src="~/dist/js/sidebarmenu.js"></script>
    <script src="~/dist/js/custom.min.js"></script>
    <script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/dist/js/pages/dashboards/dashboard1.js"></script>
</body>
</html>
    