@{
    ViewData["Title"] = "Detail Champion";
    Layout = null;
}
<link rel="stylesheet" href="~/css/Detail_ChampionUs.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR0Ff3B4o1RjM3TV7pHIUydm4e4W3F4L8tFVCmwHZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <link href="~/Content/css" rel="stylesheet" />
    <script src="~/bundles/modernizr"></script>
    <link href="~/css/MasterUs.css" rel="stylesheet" />
    <link href="~/css/HeaderUs.css" rel="stylesheet" />
    <link href="~/js/MasterUs.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<style>
    #getuserskilldetail .VIDEOSKILL_2 {
        padding: 3%;
        width: 100%;
    }

    .VIDEOSKILL {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .DETAILSKILL {
        cursor: pointer;
    }

    .DETAILSKILL {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 20px;
    }

    .CTNN {
        background-color: #161f33;
        display: flex;
    }
</style>
<div class="container-fluid w-100 p-0" style="height: 80px; position:relative;z-index:2;">
    <div class="row bg-dark">
        <div id="HD_L" class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 justify-content-center align-items-center p-0" style="height: 80px;">
            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                <img class="logo" src="~/Pictures/IconGames/Icon 2.png" alt="Logo" />
            </a>
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <a href="#">
                        <img class="HD_MINI" src="~/Pictures/IconGames/Icon 1.png" alt="Mini Logo" />
                    </a>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="row">
                        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 text-start">
                            <div class="row">
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 p-0">
                                    <div class="HD_TIEUDE">
                                        <p>TRÒ CHƠI</p>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                        <a class="HD_MN menu-item" id="lien-minh" data-image="image1" href="#">
                                            <span>LIÊN MINH HUYỀN THOẠI</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                        <a class="HD_MN menu-item" id="dau-truong" data-image="image2" href="#">
                                            <span>ĐẤU TRƯỜNG CHÂN LÝ</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                        <a class="HD_MN menu-item" id="valo" data-image="Icon 15" href="#">
                                            <span>VALORANT</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 w-100 p-1 HDD">
                                        <a class="HD_MN menu-item" id="rune-terra" data-image="Icon 16" href="#">
                                            <span>HUYỀN THOẠI RUNETERRA</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 w-100 p-1 HD_C">
                                        <a class="HD_MN menu-item" id="toc-chien" data-image="Icon 17" href="#">
                                            <span>LMHT: TỐC CHIẾN</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                    <div class="HD_TIEUDE">
                                        <p>FORGE</p>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                        <a class="HD_MN menu-item" id="ruined-king" data-image="Icon 18" href="#">
                                            <span>RUINED KING</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                        <a class="HD_MN menu-item" id="convergence" data-image="Icon 19" href="#">
                                            <span>CONV/RGENCE</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                        <a class="HD_MN menu-item" id="song-of-nunu" data-image="Icon 20" href="#">
                                            <span>SONG OF NUNU</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                        <a class="HD_MN menu-item" id="riot-forge" data-image="Icon 21" href="#">
                                            <span>TRÒ CHƠI CỦA RIOT FORGE</span>
                                        </a>
                                    </div>
                                    <div class="HD_TIEUDE">
                                        <p>ESPORTS</p>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 mt-1 HD_C">
                                        <a class="HD_MN menu-item" id="lol-esports" data-image="Icon 22" href="#">
                                            <span>LOL ESPORTS</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                        <a class="HD_MN menu-item" id="valorant-esports" data-image="Icon 23" href="#">
                                            <span>VALORANT ESPORTS</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                    <div class="HD_TIEUDE">
                                        <p>GIẢI TRÍ</p>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                        <a class="HD_MN menu-item" id="arcane" data-image="Icon 24" href="#">
                                            <span>ARCANE</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                        <a class="HD_MN menu-item" id="universe" data-image="Icon 25" href="#">
                                            <span>VŨ TRỤ</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 HD_C">
                                        <a class="HD_MN menu-item" id="riot-music" data-image="Icon 26" href="#">
                                            <span>RIOT GAMES MUSIC</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 HD_TIEUDE">
                                        <p>KINH DOANH</p>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                        <a class="HD_MN menu-item" id="riot-games" data-image="Icon 27" href="#">
                                            <span>RIOT GAMES</span>
                                        </a>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 w-100 p-1 mt-1 HD_C">
                                        <a class="HD_MN menu-item" id="riot-support" data-image="Icon 28" href="#">
                                            <span>HỖ TRỢ RIOT</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                            <div class="row">
                                <div class="col-xxl-12">
                                    <a class="HD_HI" href="#">
                                        <img class="img-fluid" id="main-image" src="~/Pictures/IconGames/Icon 13.jpeg" alt="Alternate Text" />
                                        <p class="p-1" id="main-text">Huyền Thoại Runeterra - Bản Mở Rộng Mới - Con Đường Nguyện Ước</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-9 col-7">
            <nav class="navbar navbar-expand-xxl navbar-dark p-0">
                <div class="container-fluid HD_T p-0">
                    <a class="navbar-brand d-flex justify-content-center align-items-center" style="height: 80px;" href="@Url.Action("Index", "User")">
                        <img src="~/Pictures/IconGames/Icon 7.png" alt="Navbar Logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-start">
                            <li class="nav-item TT">
                                <a class="nav-link active NTT" aria-current="page"
                                   href="@Url.Action("TroChoiUs", "User")">TRÒ CHƠI</a>
                            </li>
                            <li class="nav-item TT">
                                <a class="nav-link NTT" href="@Url.Action("Champion", "User")">TƯỚNG</a>
                            </li>
                            <li class="nav-item TT">
                                <a class="nav-link NTT" href="@Url.Action("News", "User")">TIN TỨC</a>
                            </li>
                            <li class="nav-item TT">
                                <a class="nav-link NTT" href="@Url.Action("Update", "User")">CHI TIẾT CẬP NHẬT</a>
                            </li>
                            <li class="nav-item TT">
                                <a class="nav-link NTT" href="@Url.Action("Esport", "User")">ESPORTS</a>
                            </li>
                        </ul>
                        <form class="d-flex justify-content-end">
                            <div class="Biu">
                                <div class="row justify-content-end align-items-center m-0">
                                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 p-0 d-flex justify-content-center align-items-center" style="width: 150px;">
                                        <div class="DC2"><a href="@Url.Action("ChoiNgayUs", "User")">Chơi Ngay</a></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <script src="~/js/MasterUs.js"></script>
</div>

<div class="container-fluid CTN" id="getuserchampiondetail">
</div>
<div class="container-fluid CTNN" style="padding: 3%;" id="getuserskilldetail">
</div>
<div class="container-fluid CTNNN" style="padding-left: 8%; padding-right: 8%;" id="getuserskindetail">
    <p class="NICKNAME5">Trang phục hiện có</p>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" id="carousel-inner">
            <!-- Carousel items will be injected here by JavaScript -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr style="height: 2px; color: #c2902d" />
</div>


<p id="displayId"></p>
<script>
    function getQueryParameter(name) {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    };
    function adjustHeight() {
        var img = document.getElementById('backgroundImage');
        var textOverlay = document.getElementById('textOverlay');
        textOverlay.style.height = img.clientHeight + 'px';
    }
    window.onresize = adjustHeight;
    $(document).ready(function () {
        var champName = getQueryParameter("Uschamp");
        $.ajax({
            type: "GET",
            url: "/api/UserChampion/GetUserChampionDetail",
            data: { champName: champName },
            dataType: "json",
            success: function (champion) {
                var container = $('#getuserchampiondetail');
                container.empty();
                var row =
                    '<img style="width: 90%;" id="backgroundImage" src="/Pictures/Backgrounds_Champs/' + champion.imageDD + '" onload="adjustHeight()" />' +
                    '<div id="textOverlay" class="text-overlay">' +
                    '<div class="col-xxl-7 col-xl-7 col-lg-7 TITLE1">' +
                    '<p class="NICKNAME1">' + champion.nickName + ' </p>' +
                    '<p class="NICKNAME2"> ' + champion.champName + ' </p>' +
                    '<p class="NICKNAME3"> ' + champion.describle + ' </p>' +
                    '<div class="col-xxl-4 col-xl-4 col-lg-4" style="display: flex; justify-content: center; align-items: center;">' +
                    '<div class="col VAITRO" style="display: flex; justify-content: center; align-items: center;">' +
                    '<p class="m-0 INVAITRO" style="width: 120px; padding-left: 20px;">Vai trò: ' + champion.role + ' </p>' +
                    '</div>' +
                    '<div class="col VAITRO" style="display: flex; justify-content: center; align-items: center;">' +
                    '<p class="m-0 INVAITRO" style="width: 120px; padding-left: 20px;">Độ khó: ' + champion.level + ' </p>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>';
                container.append(row);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    });
    $(document).ready(function () {
        var champName = getQueryParameter("Uschamp");
        $.ajax({
            type: "GET",
            url: "/api/UserSkill/GetUserSkillDetail",
            data: { champName: champName },
            dataType: "json",
            success: function (skill) {
                var container = $('#getuserskilldetail');
                container.empty();

                var row =
                    '<div class="row" style="display: flex; justify-content: space-around">' +
                    '<div class="col-xxl-6 col-xl-6" style="display: flex; align-items: center; flex-direction: column; justify-content: center;">' +
                    '<p class="NICKNAME4">Skill</p>' +
                    '<div style="display: flex;">' +
                    '<div class="DETAILSKILL" data-video="/Videos/Video_Skill/' + skill.vdnt + '">' +
                    '<img class="AVASKILL" src="/Pictures/Skills/Skills_NT/' + skill.avA_NT + '" />' +
                    '<p class="TITLESKILL">' + skill.noiTai + '</p>' +
                    '</div>' +
                    '<div class="DETAILSKILL" data-video="/Videos/Video_Skill/' + skill.vdq + '">' +
                    '<img class="AVASKILL" src="/Pictures/Skills/Skills_Q/' + skill.avA_Q + '" />' +
                    '<p class="TITLESKILL">' + skill.skillQ + '</p>' +
                    '</div>' +
                    '<div class="DETAILSKILL" data-video="/Videos/Video_Skill/' + skill.vdw + '">' +
                    '<img class="AVASKILL" src="/Pictures/Skills/Skills_W/' + skill.avA_W + '" />' +
                    '<p class="TITLESKILL">' + skill.skillW + '</p>' +
                    '</div>' +
                    '<div class="DETAILSKILL" data-video="/Videos/Video_Skill/' + skill.vde + '">' +
                    '<img class="AVASKILL" src="/Pictures/Skills/Skills_E/' + skill.avA_E + '" />' +
                    '<p class="TITLESKILL">' + skill.skillE + '</p>' +
                    '</div>' +
                    '<div class="DETAILSKILL" data-video="/Videos/Video_Skill/' + skill.vdr + '">' +
                    '<img class="AVASKILL" src="/Pictures/Skills/Skills_R/' + skill.avA_R + '" />' +
                    '<p class="TITLESKILL">' + skill.skillR + '</p>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-xxl-6 col-xl-6 VIDEOSKILL">' +
                    '<div class="VIDEOSKILL_1">' +
                    '<video autoplay muted loop class="VIDEOSKILL_2 fade-video" id="displayedVideo" src="/Videos/Video_Skill/' + skill.vdnt + '"></video>' +
                    '</div>' +
                    '</div>' +
                    '</div>';

                container.append(row);

                // Add click event to images
                $('.DETAILSKILL').on('click', function () {
                    var videoSrc = $(this).data('video');
                    var videoElement = $('#displayedVideo');

                    // Apply fade out
                    videoElement.addClass('hidden');

                    // Change the video source after the fade-out transition
                    setTimeout(function () {
                        videoElement.attr('src', videoSrc);
                        // Apply fade in
                        videoElement.removeClass('hidden');
                    }, 0); // Duration matches the CSS transition duration
                });
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    });

    $(document).ready(function () {
        var champName = getQueryParameter("Uschamp");
        $.ajax({
            type: "GET",
            url: "/api/UserSkin/GetUserSkinDetail",
            data: { champName: champName },
            dataType: "json",
            success: function (skin) {
                var carouselInner = $('#carousel-inner');
                carouselInner.empty();

                var skinProperties = ['skin1', 'skin2', 'skin3', 'skin4', 'skin5', 'skin6', 'skin7', 'skin8', 'skin9', 'skin10', 'skin11', 'skin12', 'skin13', 'skin14', 'skin15', 'skin16', 'skin17', 'skin18'];
                var isFirstItem = true;

                for (var i = 0; i < skinProperties.length; i++) {
                    var skinProperty = skinProperties[i];
                    if (skin[skinProperty]) {
                        var activeClass = isFirstItem ? ' active' : '';
                        var item = '<div class="carousel-item' + activeClass + '" data-bs-interval="2000">' +
                            '<img src="/Pictures/Skins/' + skin[skinProperty] + '" class="d-block w-100" alt="' + skinProperty + '">' +
                            '</div>';
                        carouselInner.append(item);
                        isFirstItem = false;
                    }
                }
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    });


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>